<h1>
    @if (url) {
        <a [href]="url" target="_blank" rel="noopener noreferrer">{{
            title
        }}</a>
    } @else {
        {{ title }}
    }
</h1>
<app-long-text [text]="description" [hideTextByDefault]="hideTextByDefault" />
<p>
    <span>{{ technologiesUsed }}</span>
</p>

<div class="button-form">
    @if (urlRouterFormEdit) {
        <app-button-form [text]="messageEdit" [urlRouter]="urlRouterFormEdit" />
    }
    @if (onAction) {
        <app-button-action [text]="messageDelete" (click)="onAction()" />
    }
</div>
