h1 {
    color: var(--font-color);
    font-family: "MedievalSharp";

    a {
        all: unset;

        &:hover {
            background-color: rgba($color: #ffffff, $alpha: 0.2);
            cursor: pointer;
        }
    }
}

p {
    span {
        font-family: "CinzelDecorative";
        color: var(--font-color);
    }
}

.button-form {
    margin-top: 10px;
    margin-bottom: 2px;
}
