<mat-toolbar class="medieval-navbar">
    <button
        mat-icon-button
        (click)="openOrCloseMenu()"
        aria-label="Menu"
        class="menu-button"
        [@rotateIcon]="isOpenMenu ? 'rotated' : 'default'"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <div class="navbar-title">
        <mat-icon svgIcon="medieval-celta"></mat-icon>
        {{ name.toUpperCase() }}
    </div>
    <span class="spacer"></span>
    <nav class="nav-links">
        @for (item of navItems; track $index) {
            <button mat-button class="nav-button" (click)="openComponent(item)">
                {{ i18n[item] }}
            </button>
        }
    </nav>
    <button
        mat-icon-button
        aria-label="Toggle theme"
        (click)="onChangeTheme()"
        [matTooltip]="
            themeColor == 'dark' ? i18n.mudarTemaClaro : i18n.mudarTemaEscuro
        "
        matTooltipClass="tooltip"
    >
        <mat-icon>{{ themeColor }}_mode</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container
    class="sidenav-container"
    [ngStyle]="{ 'pointer-events': isOpenMenu ? 'auto' : 'none' }"
    [@slideDown]="isOpenMenu ? 'visible' : 'hidden'"
>
    <mat-sidenav-content>
        <mat-nav-list class="sidenav-list">
            @for (item of navItems; track $index) {
                <button
                    mat-button
                    (click)="openComponent(item)"
                    class="nav-button"
                >
                    {{ i18n[item] }}
                </button>
            }
        </mat-nav-list>
    </mat-sidenav-content>
</mat-sidenav-container>
