<mat-card class="custom-card">
    <mat-card-title>{{ title }}</mat-card-title>

    <a [href]="url" target="_blank" rel="noopener noreferrer">
        <img mat-card-image [src]="imageUrl" [alt]="title" />
    </a>

    @if (description) {
        <mat-card-content>
            <app-long-text [text]="description" />
        </mat-card-content>
    }

    <mat-card-content>
        <p>{{ technologiesUsed }}</p>
    </mat-card-content>

    @if (urlRouterFormEdit) {
        <mat-card-content class="button-form">
            <app-button-form
                [text]="messageEdit"
                [urlRouter]="urlRouterFormEdit"
            />
        </mat-card-content>
    }

    @if (onAction) {
        <mat-card-content class="button-form">
            <app-button-action [text]="messageDelete" (clicked)="onAction()" />
        </mat-card-content>
    }
</mat-card>
