<div class="form-container">
    <form (submit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.description }}</mat-label>
            <input
                matInput
                name="description"
                [ngModel]="description()"
                (ngModelChange)="description.set($event)"
                [ngModelOptions]="{ standalone: true }"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.urlRepository }}</mat-label>
            <input
                matInput
                name="urlRepository"
                [ngModel]="urlRepository()"
                (ngModelChange)="urlRepository.set($event)"
                [ngModelOptions]="{ standalone: true }"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.importanceLevel }}</mat-label>
            <input
                matInput
                type="number"
                name="importanceLevel"
                [(ngModel)]="importanceLevelValue"
                [ngModelOptions]="{ standalone: true }"
                min="0"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.technologiesWorked }}</mat-label>
            <mat-select
                name="technologies"
                [(ngModel)]="technologiesWorkedIdValue"
                [ngModelOptions]="{ standalone: true }"
                multiple
            >
                @for (technology of technologies; track $index) {
                    <mat-option [value]="technology.id">
                        {{ technology.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <app-file-upload [imageFile]="image()" (image)="handleImage($event)" />

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [ngStyle]="
                disableButton()
                    ? { 'pointer-events': 'none', opacity: '0.5' }
                    : {}
            "
        >
            {{ i18n.submit }}
        </button>
    </form>
</div>
