<div class="form-container">
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.nameCourse }}</mat-label>
            <input
                matInput
                type="text"
                name="name"
                [ngModel]="name()"
                (ngModelChange)="name.set($event)"
                [ngModelOptions]="{ standalone: true }"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.urlCertificate }}</mat-label>
            <input
                matInput
                type="text"
                name="urlCertificate"
                [ngModel]="urlCertificate()"
                (ngModelChange)="urlCertificate.set($event)"
                [ngModelOptions]="{ standalone: true }"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.importanceLevel }}</mat-label>
            <input
                matInput
                type="number"
                name="importanceLevel"
                (ngModel)="importanceLevel()"
                (ngModelChange)="importanceLevel.set($event)"
                [ngModelOptions]="{ standalone: true }"
                min="0"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ i18n.technologies }}</mat-label>
            <mat-select
                name="technologies"
                (ngModel)="technologiesIds()"
                (ngModelChange)="technologiesIds.set($event)"
                [ngModelOptions]="{ standalone: true }"
                multiple
            >
                @for (technology of technologies; track $index) {
                    <mat-option [value]="technology.id">
                        {{ technology.name }}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>

        <app-file-upload (image)="handleImage($event)" />

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [ngStyle]="
                disableButton()
                    ? { 'pointer-events': 'none', opacity: '0.5' }
                    : {}
            "
        >
            {{ i18n.submit }}
        </button>
    </form>
</div>
