@media (max-width: 790px) {
    .articles-container {
        padding-inline: 40px;
        app-card-experience {
            max-width: 500px;
        }
    }
}

@media (max-width: 570px) {
    .articles-container {
        app-card-experience {
            max-width: 350px;
        }
    }
}

@media (max-width: 370px) {
    .articles-container {
        padding-inline: 30px;
        app-card-experience {
            max-width: 250px;
        }
    }
}
