.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    padding: 16px;
    gap: 16px;
    color: var(--font-color);
    font-family: CinzelDecorative;
  }

  .not-found-icon {
    font-size: 64px;
  }
