<div class="form-container">
    <form (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill">
            <input
                matInput
                name="email"
                [(ngModel)]="email"
                placeholder="Email"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <input
                matInput
                type="password"
                name="senha"
                [(ngModel)]="password"
                placeholder="senha"
                min="0"
                required
            />
        </mat-form-field>

        <button
            mat-raised-button
            color="primary"
            type="submit"
            [ngStyle]="
                disableButton
                    ? { 'pointer-events': 'none', opacity: '0.5' }
                    : {}
            "
        >
            Login
        </button>
    </form>
</div>
