.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        margin-top: 200px;
        padding: 60px 30px;
        background: url("../../../assets/img/background-contato.jpg");
        border: 3px solid var(--secondary-color);
        border-radius: 32px;
    }
}
