.hidden-file-input {
    display: none;
}

.custom-file-label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
    width: 92%;
    border-radius: 4px;
    font-weight: 500;
    border-radius: 20px;
    transition: background 0.3s ease;

    &:hover {
        background-color: #1565c0;
    }

    mat-icon {
        font-size: 20px;
    }
}
