<input
    #fileInput
    type="file"
    id="fileInput"
    accept=".png, .jpg, .jpeg"
    class="hidden-file-input"
    (change)="onFileSelected($event)"
/>

<label for="fileInput" class="custom-file-label">
    <mat-icon>upload</mat-icon>
    @if (fileName) {
        {{ fileName }}
    } @else {
        {{ message }}
    }
</label>

@if (fileName) {
    <br />
    <button class="custom-file-label" (click)="onClear()">
        <mat-icon>cleaning_services</mat-icon> {{ messageClear }}
    </button>
}
