<app-api-loading [isLoading]="isLoading()">
    @if (isAdmin()) {
        <div class="button-form">
            <app-button-form
                [text]="i18n.register"
                urlRouter="inserir-tecnologia"
            />
        </div>
    }
    <div class="carousel-container">
        <button mat-icon-button (click)="prev()">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="carousel-wrapper">
            <div
                class="carousel-track"
                [style.transform]="'translateX(-' + index() * 100 + '%)'"
            >
                @for (tech of technologies; track tech.id) {
                    <mat-card class="carousel-item">
                        <img [src]="tech.urlImage" alt="{{ tech.name }}" />
                        <p>{{ tech.name }}</p>
                        @if (isAdmin()) {
                            <div class="importance-level">
                                <span
                                    >{{ i18n.importanceLevel
                                    }}{{ tech.importanceLevel }}</span
                                >
                            </div>

                            <div class="actions">
                                <app-button-form
                                    [text]="i18n.edit"
                                    [urlRouter]="'editar-tecnologia/' + tech.id"
                                />
                                <app-button-action
                                    [text]="i18n.del"
                                    (clicked)="handleDelete(tech.id)"
                                />
                            </div>
                        }
                    </mat-card>
                }
            </div>
        </div>

        <button mat-icon-button (click)="next()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</app-api-loading>
