@forward "assets/scss/variables.scss";

@use "@angular/material" as mat;

:root {
    @include mat.snack-bar-overrides(
        (
            container-color: none,
        )
    );
}

@font-face {
    font-family: "MedievalSharp";
    src:
        url("assets/fonts/MedievalSharp-Regular.woff2") format("woff2"),
        url("assets/fonts/MedievalSharp-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CinzelDecorative";
    src:
        url("assets/fonts/CinzelDecorative-Regular.woff2") format("woff2"),
        url("assets/fonts/CinzelDecorative-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant Garamond";
    src:
        url("assets/fonts/CormorantGaramond-VariableFont_wght.woff2")
            format("woff2"),
        url("assets/fonts/CormorantGaramond-VariableFont_wght.woff"),
        format("woff");
    font-weight: normal;
    font-style: normal;
}
.snack-bar-clear {
    .mat-mdc-snackbar-surface {
        box-shadow: none;
    }
}

* {
    margin: 0;
    padding: 0;
}
